<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../favicon.ico">

    <title>ともだち -概要-</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../dist/css/starter-template.css" rel="stylesheet">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../dist/css/icomoon/style.css">
  <link rel="stylesheet" href="viewStyles.css">
  </head>

  <body>

    <nav class="navbar navbar-fixed-top navbar-dark bg-inverse ">
      <a class="navbar-brand" href="index.html">ともだち</a>
      <ul class="nav navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="view.html">検索する <span class="sr-only">(current)</span></a>
        </li>
<!--         <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="about.html">概要</a>
        </li>
      </ul>
    </nav>

    <!-- <div class="container"> -->

    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <p>どの友達　</p>
        </div>  
      </div>        
    </div>
    <hr class="featurette-divider">
<!-- 友達一覧のテンプレートここまで -->

     <!--  <div  class="container">
        <table class="table">
        <thead>
          <tr>
            <th>名前</th>
            <th>連絡手段・コメント</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td rowspan="2">Friend</td>
            <td>
              <span class="fa fa-facebook-square"></span>
              <span class="fa fa-twitter-square"></span>
              <span class="icon-line-square"></span>
            </td>
            <tr>
              <td>はじめてのハッカソンにて</td>
            </tr>

          </tr>
       
        </tbody>
      </table>
      </div> -->

<!--       <span class="fa fa-facebook-square"></span>
      <span class="fa fa-twitter-square"></span>
      <span class="icon-line-square"></span> -->
      </div>


    <!-- </div>/.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../dist/js/bootstrap.min.js"></script>

  </body>
</html>
