.fa-facebook-square{
	color:#415E9B;
	font-size: 140%;
}
.fa-twitter-square{
	color:#1DA1F2;
	font-size: 140%;
}
.icon-line-square{
	color:#1DCD00;
	font-size: 120%;
}

.text-right{
	text-align: right;
}

.ul{
	list-style:none;
}
li{
	list-style: none;
}
.search{
	margin: 0 25%;
}